# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Models and Weights
models/
*.bin
*.model
*.safetensors
*.pt
*.pth

# Data
data/
data/processed_dataset/
data/test\ dataset/
data/train\ dataset/
*.parquet

# SPIN
SPIN/

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
logs/
wandb/
*.log
